.loginArea{
  height:100px;
  width:300px;
  border: 1px solid black;
  margin: auto;
  margin-top: 15px;
    padding: 100px;
    padding-top: 50px;
}


.logbutton{
  height: 40px;
  width: 70px;
  background-color: green;
  margin: 5px;
  border-radius: 10px;
  margin-left: 20px;
}